{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Parking Vehicle Service API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://tc.greenart.n-e.kr"
  } ],
  "tags" : [ ],
  "paths" : {
    "/api/regular-visitor-vehicles" : {
      "get" : {
        "tags" : [ "Resident - 정기방문차량" ],
        "summary" : "내 정기방문차량 목록 조회",
        "description" : "내 정기방문차량 목록 조회",
        "operationId" : "resident-regular-visitor-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-regular-visitor-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Resident - 정기방문차량" ],
        "summary" : "정기방문차량 등록",
        "description" : "정기방문차량 등록",
        "operationId" : "resident-regular-visitor-vehicle-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-regular-visitor-vehicle-create" : {
                  "value" : "{\"memo\":\"부모님 차량\",\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-regular-visitor-vehicle-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicles" : {
      "get" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "내 차량 목록 조회",
        "description" : "내 차량 목록 조회",
        "operationId" : "resident-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내 차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "차량 등록 신청",
        "description" : "차량 등록 신청",
        "operationId" : "resident-vehicle-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-vehicle-create" : {
                  "value" : "{\"vehicleType\":\"일반 승용차\",\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 등록 신청 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitor-vehicles" : {
      "get" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "내 방문차량 목록 조회",
        "description" : "내 방문차량 목록 조회",
        "operationId" : "resident-visitor-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 등록",
        "description" : "방문차량 등록",
        "operationId" : "resident-visitor-vehicle-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-visitor-vehicle-create" : {
                  "value" : "{\"visitDate\":\"2026-01-10\",\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking-logs" : {
      "get" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "입출차 기록 조회",
        "description" : "입출차 기록 조회",
        "operationId" : "admin-parking-log-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-log-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"입출차 기록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "입출차 등록",
        "description" : "입출차 등록",
        "operationId" : "admin-parking-log-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-parking-log-create" : {
                  "value" : "{\"type\":\"IN\",\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-log-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"입출차 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/regular-visitor-vehicles" : {
      "get" : {
        "tags" : [ "Admin - 정기방문차량" ],
        "summary" : "관리자 정기방문차량 목록 조회",
        "description" : "관리자 정기방문차량 목록 조회",
        "operationId" : "admin-regular-visitor-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-regular-visitor-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 고정 방문차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Admin - 정기방문차량" ],
        "summary" : "관리자 정기방문차량 등록",
        "description" : "관리자 정기방문차량 등록",
        "operationId" : "admin-regular-visitor-vehicle-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-regular-visitor-vehicle-create" : {
                  "value" : "{\"householdId\":1,\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-regular-visitor-vehicle-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 고정 방문차량 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicle-policies" : {
      "get" : {
        "tags" : [ "Admin - 차량 정책" ],
        "summary" : "차량 정책 조회",
        "description" : "차량 정책 조회",
        "operationId" : "admin-vehicle-policy-get",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-policy-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 정책 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Admin - 차량 정책" ],
        "summary" : "차량 정책 수정",
        "description" : "차량 정책 수정",
        "operationId" : "admin-vehicle-policy-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-vehicle-policy-update" : {
                  "value" : "{\"maxVehicles\":3}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-policy-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 정책 설정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicle-registration-policies" : {
      "get" : {
        "tags" : [ "Admin - 차량 등록 정책" ],
        "summary" : "차량 등록 정책 조회",
        "description" : "차량 등록 정책 조회",
        "operationId" : "admin-vehicle-reg-policy-get",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-reg-policy-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 등록 한도 정책 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Admin - 차량 등록 정책" ],
        "summary" : "차량 등록 정책 수정",
        "description" : "차량 등록 정책 수정",
        "operationId" : "admin-vehicle-reg-policy-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-vehicle-reg-policy-update" : {
                  "value" : "{\"requiresApproval\":true}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-reg-policy-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 등록 한도 정책 설정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicles" : {
      "get" : {
        "tags" : [ "Admin - 차량" ],
        "summary" : "차량 목록 조회",
        "description" : "차량 목록 조회",
        "operationId" : "admin-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"전체 차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/visitor-policies" : {
      "get" : {
        "tags" : [ "Admin - 방문차량 정책" ],
        "summary" : "방문차량 정책 조회",
        "description" : "방문차량 정책 조회",
        "operationId" : "admin-visitor-policy-get",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-policy-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 정책 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Admin - 방문차량 정책" ],
        "summary" : "방문차량 정책 수정",
        "description" : "방문차량 정책 수정",
        "operationId" : "admin-visitor-policy-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-visitor-policy-update" : {
                  "value" : "{\"maxDays\":7,\"freeHours\":2}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-policy-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 정책 설정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/visitor-vehicle-stats" : {
      "get" : {
        "tags" : [ "Admin - 방문차량" ],
        "summary" : "관리자 방문차량 통계 조회",
        "description" : "관리자 방문차량 통계 조회",
        "operationId" : "admin-visitor-vehicle-stats",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-vehicle-stats" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 방문차량 통계 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/visitor-vehicles" : {
      "get" : {
        "tags" : [ "Admin - 방문차량" ],
        "summary" : "관리자 방문차량 목록 조회",
        "description" : "관리자 방문차량 목록 조회",
        "operationId" : "admin-visitor-vehicle-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-vehicle-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문 예정 차량 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Admin - 방문차량" ],
        "summary" : "관리자 방문차량 등록",
        "description" : "관리자 방문차량 등록",
        "operationId" : "admin-visitor-vehicle-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-visitor-vehicle-create" : {
                  "value" : "{\"householdId\":1,\"licensePlate\":\"12가3456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-vehicle-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 방문차량 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/parking/status" : {
      "get" : {
        "tags" : [ "Resident - 주차 현황" ],
        "summary" : "입주민 주차 현황 조회",
        "description" : "입주민 주차 현황 조회",
        "operationId" : "resident-parking-status",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-parking-status" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 현황 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/regular-visitor-vehicles/{regularVisitorVehicleId}" : {
      "get" : {
        "tags" : [ "Resident - 정기방문차량" ],
        "summary" : "정기방문차량 상세 조회",
        "description" : "정기방문차량 상세 조회",
        "operationId" : "resident-regular-visitor-vehicle-detail",
        "parameters" : [ {
          "name" : "regularVisitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-regular-visitor-vehicle-detail" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 상세 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Resident - 정기방문차량" ],
        "summary" : "정기방문차량 삭제",
        "description" : "정기방문차량 삭제",
        "operationId" : "resident-regular-visitor-vehicle-delete",
        "parameters" : [ {
          "name" : "regularVisitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-regular-visitor-vehicle-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Resident - 정기방문차량" ],
        "summary" : "정기방문차량 수정",
        "description" : "정기방문차량 수정",
        "operationId" : "resident-regular-visitor-vehicle-update",
        "parameters" : [ {
          "name" : "regularVisitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-regular-visitor-vehicle-update" : {
                  "value" : "{\"memo\":\"아내 차량\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-regular-visitor-vehicle-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 수정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicles/check-license-plate" : {
      "get" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "차량번호 중복 확인",
        "description" : "차량번호 중복 확인",
        "operationId" : "resident-vehicle-license-check",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-license-check" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량번호 중복 확인 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicles/{vehicleId}" : {
      "get" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "내 차량 상세 조회",
        "description" : "내 차량 상세 조회",
        "operationId" : "resident-vehicle-detail",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-detail" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내 차량 상세 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "차량 삭제",
        "description" : "차량 삭제",
        "operationId" : "resident-vehicle-delete",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Resident - 차량" ],
        "summary" : "차량 수정",
        "description" : "차량 수정",
        "operationId" : "resident-vehicle-update",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-vehicle-update" : {
                  "value" : "{\"licensePlate\":\"34나5678\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 수정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitor-vehicles/{visitorVehicleId}" : {
      "get" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 상세 조회",
        "description" : "방문차량 상세 조회",
        "operationId" : "resident-visitor-vehicle-detail",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-detail" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 상세 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 삭제",
        "description" : "방문차량 삭제",
        "operationId" : "resident-visitor-vehicle-delete",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 수정",
        "description" : "방문차량 수정",
        "operationId" : "resident-visitor-vehicle-update",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-visitor-vehicle-update" : {
                  "value" : "{\"licensePlate\":\"34나5678\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 수정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking-logs/summary" : {
      "get" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "입출차 기록 통계 요약 조회",
        "description" : "입출차 기록 통계 요약 조회",
        "operationId" : "admin-parking-log-summary",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-log-summary" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"입출차 기록 통계 요약 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors" : {
      "get" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 목록 조회",
        "description" : "센서 목록 조회",
        "operationId" : "admin-sensor-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 등록",
        "description" : "센서 등록",
        "operationId" : "admin-sensor-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-sensor-create" : {
                  "value" : "{\"sensorCode\":\"SENSOR-001\",\"zoneId\":1}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/setting" : {
      "get" : {
        "tags" : [ "Admin - 주차 설정" ],
        "summary" : "주차 설정 조회",
        "description" : "주차 설정 조회",
        "operationId" : "admin-parking-setting-get",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-setting-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 운영 타입 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Admin - 주차 설정" ],
        "summary" : "주차 설정 수정",
        "description" : "주차 설정 수정",
        "operationId" : "admin-parking-setting-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-parking-setting-update" : {
                  "value" : "{\"maxVehiclesPerHousehold\":2}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-setting-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 운영 타입 변경 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/statistics" : {
      "get" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 통계 조회",
        "description" : "주차 통계 조회",
        "operationId" : "admin-parking-statistics",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-statistics" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 통계 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/status" : {
      "get" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 현황 조회",
        "description" : "주차 현황 조회",
        "operationId" : "admin-parking-status",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-status" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 현황 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/zones" : {
      "get" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 구역 목록 조회",
        "description" : "주차 구역 목록 조회",
        "operationId" : "admin-parking-zone-list",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-zone-list" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 구역 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 구역 등록",
        "description" : "주차 구역 등록",
        "operationId" : "admin-parking-zone-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-parking-zone-create" : {
                  "value" : "{\"zoneName\":\"A구역\",\"capacity\":50}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-zone-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 구역 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/regular-visitor-vehicles/{regularVisitorVehicleId}" : {
      "delete" : {
        "tags" : [ "Admin - 정기방문차량" ],
        "summary" : "관리자 정기방문차량 삭제",
        "description" : "관리자 정기방문차량 삭제",
        "operationId" : "admin-regular-visitor-vehicle-delete",
        "parameters" : [ {
          "name" : "regularVisitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-regular-visitor-vehicle-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"고정 방문차량 강제 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/visitor-vehicles/{visitorVehicleId}" : {
      "get" : {
        "tags" : [ "Admin - 방문차량" ],
        "summary" : "관리자 방문차량 상세 조회",
        "description" : "관리자 방문차량 상세 조회",
        "operationId" : "admin-visitor-vehicle-detail",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-vehicle-detail" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 방문차량 상세 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/parking/spots/sse" : {
      "get" : {
        "tags" : [ "Resident - 주차" ],
        "summary" : "실시간 주차 현황 SSE 구독",
        "description" : "실시간 주차 현황 SSE 구독",
        "operationId" : "parking-sse-subscribe",
        "responses" : {
          "200" : {
            "description" : "200"
          }
        }
      }
    },
    "/api/vehicles/fees/monthly" : {
      "get" : {
        "tags" : [ "Resident - 차량 요금" ],
        "summary" : "차량 월별 요금 조회",
        "description" : "차량 월별 요금 조회",
        "operationId" : "resident-vehicle-fee-monthly",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-vehicle-fee-monthly" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 월 과금 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitor-vehicles/fees/monthly" : {
      "get" : {
        "tags" : [ "Resident - 방문차량 요금" ],
        "summary" : "방문차량 월별 요금 조회",
        "description" : "방문차량 월별 요금 조회",
        "operationId" : "resident-visitor-fee-monthly",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-fee-monthly" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 월 과금 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitor-vehicles/{visitorVehicleId}/cancel" : {
      "patch" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 취소",
        "description" : "방문차량 취소",
        "operationId" : "resident-visitor-vehicle-cancel",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-cancel" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 취소 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitor-vehicles/{visitorVehicleId}/re-register" : {
      "post" : {
        "tags" : [ "Resident - 방문차량" ],
        "summary" : "방문차량 재등록",
        "description" : "방문차량 재등록",
        "operationId" : "resident-visitor-vehicle-re-register",
        "parameters" : [ {
          "name" : "visitorVehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "resident-visitor-vehicle-re-register" : {
                  "value" : "{\"visitDate\":\"2026-07-01\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-visitor-vehicle-re-register" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 재등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/bulk" : {
      "post" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 일괄 등록",
        "description" : "센서 일괄 등록",
        "operationId" : "admin-sensor-bulk-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-sensor-bulk-create" : {
                  "value" : "{\"zoneId\":1,\"count\":10}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-bulk-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 일괄 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/{sensorId}" : {
      "get" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 단건 조회",
        "description" : "센서 단건 조회",
        "operationId" : "admin-sensor-get",
        "parameters" : [ {
          "name" : "sensorId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 단건 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 삭제",
        "description" : "센서 삭제",
        "operationId" : "admin-sensor-delete",
        "parameters" : [ {
          "name" : "sensorId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Admin - 센서" ],
        "summary" : "센서 수정",
        "description" : "센서 수정",
        "operationId" : "admin-sensor-update",
        "parameters" : [ {
          "name" : "sensorId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-sensor-update" : {
                  "value" : "{\"spotId\":5}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-sensor-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 센서 수정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/zones/{zoneId}" : {
      "delete" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 구역 삭제",
        "description" : "주차 구역 삭제",
        "operationId" : "admin-parking-zone-delete",
        "parameters" : [ {
          "name" : "zoneId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-zone-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 구역 삭제 성공\"}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Admin - 주차 관리" ],
        "summary" : "주차 구역 수정",
        "description" : "주차 구역 수정",
        "operationId" : "admin-parking-zone-update",
        "parameters" : [ {
          "name" : "zoneId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-parking-zone-update" : {
                  "value" : "{\"capacity\":60}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-parking-zone-update" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"주차 구역 수정 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicles/fees/monthly" : {
      "get" : {
        "tags" : [ "Admin - 차량 요금" ],
        "summary" : "차량 월별 요금 목록 조회",
        "description" : "차량 월별 요금 목록 조회",
        "operationId" : "admin-vehicle-fee-monthly",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-fee-monthly" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 월 과금 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicles/{vehicleId}/approve" : {
      "patch" : {
        "tags" : [ "Admin - 차량" ],
        "summary" : "차량 승인",
        "description" : "차량 승인",
        "operationId" : "admin-vehicle-approve",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-approve" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 승인 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/vehicles/{vehicleId}/reject" : {
      "patch" : {
        "tags" : [ "Admin - 차량" ],
        "summary" : "차량 거절",
        "description" : "차량 거절",
        "operationId" : "admin-vehicle-reject",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "admin-vehicle-reject" : {
                  "value" : "{\"reason\":\"정보 불일치\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-vehicle-reject" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 거절 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/visitor-vehicles/fees/monthly" : {
      "get" : {
        "tags" : [ "Admin - 방문차량 요금" ],
        "summary" : "방문차량 월별 요금 목록 조회",
        "description" : "방문차량 월별 요금 목록 조회",
        "operationId" : "admin-visitor-fee-monthly",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "admin-visitor-fee-monthly" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 월 과금 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/parking/zones/{zoneId}/spots" : {
      "get" : {
        "tags" : [ "Resident - 주차 현황" ],
        "summary" : "입주민 자리 목록 조회",
        "description" : "입주민 자리 목록 조회",
        "operationId" : "resident-parking-spots",
        "parameters" : [ {
          "name" : "zoneId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "resident-parking-spots" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"자리 목록 조회 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/mock/bulk-init" : {
      "post" : {
        "tags" : [ "Admin - Mock 센서" ],
        "summary" : "Mock 센서 일괄 초기화",
        "description" : "Mock 센서 일괄 초기화",
        "operationId" : "sensor-mock-bulk-init",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "sensor-mock-bulk-init" : {
                  "value" : "{\"spotCount\":5,\"complexId\":10,\"zoneId\":1}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "sensor-mock-bulk-init" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"센서 일괄 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/mock/init" : {
      "post" : {
        "tags" : [ "Admin - Mock 센서" ],
        "summary" : "Mock 센서 단건 초기화",
        "description" : "Mock 센서 단건 초기화",
        "operationId" : "sensor-mock-init",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "sensor-mock-init" : {
                  "value" : "{\"zoneId\":1,\"sensorCode\":\"SENSOR-001\",\"complexId\":10,\"spotNumber\":\"A-01\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "sensor-mock-init" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"센서 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/mock/{sensorCode}" : {
      "get" : {
        "tags" : [ "Admin - Mock 센서" ],
        "summary" : "Mock 센서 Hash 조회",
        "description" : "Mock 센서 Hash 조회",
        "operationId" : "sensor-mock-get",
        "parameters" : [ {
          "name" : "sensorCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "sensor-mock-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"센서 조회 성공\",\"data\":{\"spotNumber\":\"A-01\",\"status\":\"VACANT\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/parking/sensors/mock/{sensorCode}/toggle" : {
      "post" : {
        "tags" : [ "Admin - Mock 센서" ],
        "summary" : "Mock 센서 상태 토글",
        "description" : "Mock 센서 상태 토글",
        "operationId" : "sensor-mock-toggle",
        "parameters" : [ {
          "name" : "sensorCode",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "sensor-mock-toggle" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"센서 토글 성공\",\"data\":{\"sensorCode\":\"SENSOR-001\",\"status\":\"OCCUPIED\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/parking-logs" : {
      "post" : {
        "tags" : [ "Internal - 입출차" ],
        "summary" : "내부 입출차 등록",
        "description" : "내부 입출차 등록",
        "operationId" : "internal-parking-log-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "internal-parking-log-create" : {
                  "value" : "{\"complexId\":10,\"licensePlate\":\"12가3456\",\"type\":\"IN\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "internal-parking-log-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"입출차 등록 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/vehicle-fees/calculate" : {
      "post" : {
        "tags" : [ "Internal - 주차 요금" ],
        "summary" : "차량 비용 산정",
        "description" : "차량 비용 산정",
        "operationId" : "internal-vehicle-fee-calculate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "internal-vehicle-fee-calculate" : {
                  "value" : "{\"billMonth\":1,\"complexId\":10,\"billYear\":2026}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "internal-vehicle-fee-calculate" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"차량 비용 산정 실행 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/visitor-fees/calculate" : {
      "post" : {
        "tags" : [ "Internal - 주차 요금" ],
        "summary" : "방문차량 비용 산정",
        "description" : "방문차량 비용 산정",
        "operationId" : "internal-visitor-fee-calculate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
              },
              "examples" : {
                "internal-visitor-fee-calculate" : {
                  "value" : "{\"billMonth\":1,\"complexId\":10,\"billYear\":2026}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "internal-visitor-fee-calculate" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 비용 산정 실행 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/visitor-vehicles/expire" : {
      "post" : {
        "tags" : [ "Internal - 방문차량" ],
        "summary" : "방문차량 자동 만료",
        "description" : "방문차량 자동 만료",
        "operationId" : "internal-visitor-vehicle-expire",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-visitor-vehicles486549215"
                },
                "examples" : {
                  "internal-visitor-vehicle-expire" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"방문차량 자동 만료 실행 성공\"}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "api-visitor-vehicles486549215" : {
        "type" : "object"
      }
    }
  }
}