{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auth Service API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://tc.greenart.n-e.kr"
  } ],
  "tags" : [ ],
  "paths" : {
    "/api/auth/check-email" : {
      "get" : {
        "tags" : [ "Auth" ],
        "summary" : "이메일 중복 확인",
        "description" : "이메일 중복 확인",
        "operationId" : "auth-check-email",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-check-email" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"이메일 중복 확인 성공\",\"data\":{\"isDuplicate\":false}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "이메일 로그인",
        "description" : "이메일 로그인",
        "operationId" : "auth-login",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-login" : {
                  "value" : "{\"password\":\"Password1!\",\"email\":\"user@test.com\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-login" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"로그인 성공\",\"data\":{\"accessToken\":\"eyJhbGciOiJIUzI1NiJ9.access\",\"refreshToken\":\"eyJhbGciOiJIUzI1NiJ9.refresh\",\"userId\":1,\"userUid\":\"uid-001\",\"name\":\"홍길동\",\"role\":\"USER\",\"status\":\"ACTIVE\",\"building\":\"101\",\"unit\":\"101\",\"complexId\":10}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "auth-logout",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-logout" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"로그아웃 성공\",\"data\":{\"message\":\"로그아웃 성공\"}}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/api/auth/register" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "이메일 회원가입",
        "description" : "이메일 회원가입",
        "operationId" : "auth-register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-register" : {
                  "value" : "{\"authCode\":\"123456\",\"dong\":\"101\",\"phone\":\"010-1234-5678\",\"birthDate\":\"1990-01-01\",\"password\":\"Password1!\",\"email\":\"user@test.com\",\"apartmentComplexUid\":\"complex-uid-001\",\"ho\":\"101\",\"name\":\"홍길동\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-register" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"회원가입 성공\",\"data\":{\"complexId\":10,\"userId\":1,\"userUid\":\"uid-001\",\"email\":\"user@test.com\",\"name\":\"홍길동\",\"role\":\"USER\",\"status\":\"ACTIVE\",\"createdAt\":[2026,6,16,2,51,21,522847000]}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "내 계정 정보 조회",
        "description" : "내 계정 정보 조회",
        "operationId" : "user-me-get",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "user-me-get" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내 계정 정보 조회 성공\",\"data\":{\"userId\":1,\"email\":\"user@test.com\",\"name\":\"홍길동\",\"phone\":\"010-1234-5678\",\"birthDate\":[1990,1,1],\"building\":\"101\",\"unit\":\"101\",\"role\":\"USER\",\"status\":\"ACTIVE\",\"signupType\":\"EMAIL\",\"complexId\":10,\"createdAt\":[2026,6,16,2,51,22,53879000]}}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "User" ],
        "summary" : "회원 탈퇴",
        "description" : "회원 탈퇴",
        "operationId" : "user-me-delete",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "user-me-delete" : {
                  "value" : "{\"password\":\"Current1!\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "user-me-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"회원 탈퇴 성공\",\"data\":{\"message\":\"회원 탈퇴 성공\"}}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "User" ],
        "summary" : "내 계정 정보 수정",
        "description" : "내 계정 정보 수정",
        "operationId" : "user-me-patch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "user-me-patch" : {
                  "value" : "{\"name\":\"홍길동수정\",\"phone\":\"010-9999-8888\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "user-me-patch" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"계정 정보 수정 성공\",\"data\":{\"name\":\"홍길동수정\",\"phone\":\"010-9999-8888\",\"message\":\"계정 정보 수정 성공\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/manager/admins" : {
      "post" : {
        "tags" : [ "Admin" ],
        "summary" : "MANAGER → ADMIN 계정 생성",
        "description" : "MANAGER → ADMIN 계정 생성",
        "operationId" : "admin-manager-create-admin",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "admin-manager-create-admin" : {
                  "value" : "{\"email\":\"admin2@test.com\",\"complexId\":2,\"phone\":\"010-5555-6666\",\"name\":\"어드민2\",\"password\":\"Admin456!\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-manager-create-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"ADMIN 계정 생성 성공\",\"data\":{\"userId\":12,\"email\":\"admin2@test.com\",\"name\":\"어드민2\",\"phone\":\"010-5555-6666\",\"role\":\"ADMIN\",\"complexId\":2}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/master/admins" : {
      "post" : {
        "tags" : [ "Admin" ],
        "summary" : "MASTER → ADMIN 계정 생성",
        "description" : "MASTER → ADMIN 계정 생성",
        "operationId" : "admin-master-create-admin",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "admin-master-create-admin" : {
                  "value" : "{\"email\":\"admin@test.com\",\"complexId\":1,\"phone\":\"010-3333-4444\",\"name\":\"어드민\",\"password\":\"Admin123!\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-master-create-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"ADMIN 계정 생성 성공\",\"data\":{\"userId\":11,\"email\":\"admin@test.com\",\"name\":\"어드민\",\"phone\":\"010-3333-4444\",\"role\":\"ADMIN\",\"complexId\":1}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/master/managers" : {
      "post" : {
        "tags" : [ "Admin" ],
        "summary" : "MASTER → MANAGER 계정 생성",
        "description" : "MASTER → MANAGER 계정 생성",
        "operationId" : "admin-master-create-manager",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "admin-master-create-manager" : {
                  "value" : "{\"email\":\"manager@test.com\",\"complexId\":1,\"phone\":\"010-1111-2222\",\"name\":\"매니저\",\"password\":\"Manager1!\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-master-create-manager" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"MANAGER 계정 생성 성공\",\"data\":{\"userId\":10,\"email\":\"manager@test.com\",\"name\":\"매니저\",\"phone\":\"010-1111-2222\",\"role\":\"MANAGER\",\"complexId\":1}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/forgot" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "비밀번호 재설정 메일 발송",
        "description" : "비밀번호 재설정 메일 발송",
        "operationId" : "auth-password-forgot",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-password-forgot" : {
                  "value" : "{\"email\":\"user@test.com\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-password-forgot" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"비밀번호 재설정 메일 발송 성공\",\"data\":{\"message\":\"재설정 메일 발송 완료\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "auth-password-reset",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-password-reset" : {
                  "value" : "{\"newPassword\":\"NewPass1!\",\"token\":\"reset-token-abc\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-password-reset" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"비밀번호 재설정 성공\",\"data\":{\"message\":\"비밀번호 재설정 완료\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/sms/send" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "SMS 인증번호 발송",
        "description" : "SMS 인증번호 발송",
        "operationId" : "auth-sms-send",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-sms-send" : {
                  "value" : "{\"birthDate\":\"1990-01-01\",\"phone\":\"010-1234-5678\",\"name\":\"홍길동\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-sms-send" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"SMS 인증번호 발송 성공\",\"data\":{\"message\":\"인증번호 발송 완료\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/sms/verify" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "SMS 인증번호 검증",
        "description" : "SMS 인증번호 검증",
        "operationId" : "auth-sms-verify",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-sms-verify" : {
                  "value" : "{\"phone\":\"010-1234-5678\",\"code\":\"123456\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-sms-verify" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"SMS 인증 성공\",\"data\":{\"verified\":true}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/social/signup" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "소셜 회원가입 추가 정보 입력",
        "description" : "소셜 회원가입 추가 정보 입력",
        "operationId" : "auth-social-signup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-social-signup" : {
                  "value" : "{\"birthDate\":\"1995-06-15\",\"email\":\"social@test.com\",\"phone\":\"010-9999-8888\",\"apartmentComplexUid\":\"complex-uid-001\",\"authCode\":\"654321\",\"ho\":\"201\",\"providerUserId\":\"google-uid-123\",\"provider\":\"구글\",\"name\":\"김소셜\",\"dong\":\"102\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-social-signup" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"소셜 회원가입 성공\",\"data\":{\"complexId\":10,\"userId\":2,\"userUid\":\"uid-002\",\"email\":\"social@test.com\",\"name\":\"김소셜\",\"role\":\"USER\",\"status\":\"ACTIVE\",\"createdAt\":[2026,6,16,2,51,21,765005000]}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/token/refresh" : {
      "post" : {
        "tags" : [ "Auth" ],
        "summary" : "토큰 재발급",
        "description" : "토큰 재발급",
        "operationId" : "auth-token-refresh",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "auth-token-refresh" : {
                  "value" : "{\"refreshToken\":\"eyJhbGciOiJIUzI1NiJ9.refresh\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "auth-token-refresh" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"토큰 재발급 성공\",\"data\":{\"accessToken\":\"eyJhbGciOiJIUzI1NiJ9.new-access\",\"refreshToken\":\"eyJhbGciOiJIUzI1NiJ9.new-refresh\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/password" : {
      "patch" : {
        "tags" : [ "User" ],
        "summary" : "내 비밀번호 변경",
        "description" : "내 비밀번호 변경",
        "operationId" : "user-me-password-patch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "user-me-password-patch" : {
                  "value" : "{\"newPassword\":\"NewPass1!\",\"currentPassword\":\"Current1!\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "user-me-password-patch" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"비밀번호 변경 성공\",\"data\":{\"message\":\"비밀번호 변경 성공\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/manager/admins/{userId}" : {
      "delete" : {
        "tags" : [ "Admin" ],
        "summary" : "MANAGER → ADMIN 계정 비활성",
        "description" : "MANAGER → ADMIN 계정 비활성",
        "operationId" : "admin-manager-delete-admin",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-manager-delete-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 계정 비활성 성공\",\"data\":{\"userId\":12,\"status\":\"INACTIVE\",\"deletedAt\":[2026,6,16,2,51,21,975150000]}}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Admin" ],
        "summary" : "MANAGER → ADMIN 계정 수정",
        "description" : "MANAGER → ADMIN 계정 수정",
        "operationId" : "admin-manager-patch-admin",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "admin-manager-patch-admin" : {
                  "value" : "{\"name\":\"어드민수정2\",\"phone\":\"010-9999-0000\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-manager-patch-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 계정 수정 성공\",\"data\":{\"userId\":12,\"email\":\"admin2@test.com\",\"name\":\"어드민수정2\",\"phone\":\"010-9999-0000\",\"role\":\"ADMIN\",\"complexId\":2,\"status\":\"ACTIVE\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/master/admins/{userId}" : {
      "delete" : {
        "tags" : [ "Admin" ],
        "summary" : "MASTER → 관리자 계정 비활성",
        "description" : "MASTER → 관리자 계정 비활성",
        "operationId" : "admin-master-delete-admin",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-master-delete-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 계정 비활성 성공\",\"data\":{\"userId\":11,\"status\":\"INACTIVE\",\"deletedAt\":[2026,6,16,2,51,21,923085000]}}"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Admin" ],
        "summary" : "MASTER → 관리자 계정 수정",
        "description" : "MASTER → 관리자 계정 수정",
        "operationId" : "admin-master-patch-admin",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "admin-master-patch-admin" : {
                  "value" : "{\"name\":\"어드민수정\",\"phone\":\"010-7777-8888\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "admin-master-patch-admin" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"관리자 계정 수정 성공\",\"data\":{\"userId\":11,\"email\":\"admin@test.com\",\"name\":\"어드민수정\",\"phone\":\"010-7777-8888\",\"role\":\"ADMIN\",\"complexId\":1,\"status\":\"ACTIVE\"}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/auth/admins" : {
      "post" : {
        "tags" : [ "Internal Auth" ],
        "summary" : "내부 관리자 생성",
        "description" : "내부 관리자 생성",
        "operationId" : "internal-auth-admin-create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "internal-auth-admin-create" : {
                  "value" : "{\"phone\":\"010-0000-1111\",\"password\":\"Internal1!\",\"adminRole\":\"MANAGER\",\"complexId\":1,\"email\":\"internal@test.com\",\"name\":\"내부관리자\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "internal-auth-admin-create" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내부 관리자 생성 성공\",\"data\":{\"userId\":20,\"email\":\"internal@test.com\",\"name\":\"내부관리자\",\"phone\":\"010-0000-1111\",\"role\":\"ADMIN\",\"adminRole\":\"MANAGER\",\"createdAt\":[2026,6,16,2,51,21,986033000]}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/auth/admins/{userId}" : {
      "patch" : {
        "tags" : [ "Internal Auth" ],
        "summary" : "내부 관리자 수정",
        "description" : "내부 관리자 수정",
        "operationId" : "internal-auth-admin-patch",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
              },
              "examples" : {
                "internal-auth-admin-patch" : {
                  "value" : "{\"name\":\"수정된이름\",\"adminRole\":\"ADMIN\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "internal-auth-admin-patch" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내부 관리자 수정 성공\",\"data\":{\"userId\":20,\"adminRole\":\"ADMIN\",\"status\":\"ACTIVE\",\"updatedAt\":[2026,6,16,2,51,22,10247000]}}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/auth/admins/{userId}/delete" : {
      "patch" : {
        "tags" : [ "Internal Auth" ],
        "summary" : "내부 관리자 삭제",
        "description" : "내부 관리자 삭제",
        "operationId" : "internal-auth-admin-delete",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/api-admin-master-admins-userId486549215"
                },
                "examples" : {
                  "internal-auth-admin-delete" : {
                    "value" : "{\"success\":true,\"code\":\"SUCCESS\",\"message\":\"내부 관리자 삭제 성공\",\"data\":{\"userId\":20,\"status\":\"INACTIVE\",\"isDeleted\":true,\"deletedAt\":[2026,6,16,2,51,21,998251000]}}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "api-admin-master-admins-userId486549215" : {
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}